<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
	<h1>Predict Covid-19</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="breathing" placeholder="Breathing Problem" required="required" />
      <input type="text" name="fever" placeholder="Fever" required="required" />
		  <input type="text" name="dry" placeholder="Dry Cough" required="required" />
      <input type="text" name="sore" placeholder="Sore throat" required="required" />
      <input type="text" name="hyper" placeholder="Hyper Tension" required="required" />
      <input type="text" name="abroad" placeholder="Abroad travel" required="required" />
      <input type="text" name="contact" placeholder="Contact with COVID Patient" required="required" />
      <input type="text" name="attended" placeholder="Attended Large Gathering" required="required" />
      <input type="text" name="visited" placeholder="Visited Public Exposed Places" required="required" />
      <input type="text" name="family" placeholder="Family working in Public Exposed Places" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>


           